<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yu-Gi-Oh! Cards</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    .card img {
      width: 50px;
      height: 75px;
    }
  </style>
</head>
<body>
  <h1>Yu-Gi-Oh! Cards</h1>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% cards.forEach(card => { %>
        <tr>
          <td class="card"><img src="<%= card.imageUrl %>" alt="<%= card.name %>"></td>
          <td><%= card.name %></td>
          <td><%= card.count %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
